---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Invitación a mis dulces 16 años" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/globals.css";
</style>

<!-- Create a new flower favicon SVG -->
<script>
  // Create a new favicon with a flower icon
  const faviconSVG = `
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="#a65d5d" d="M12,2C13.1,2 14,2.9 14,4C14,5.1 13.1,6 12,6C10.9,6 10,5.1 10,4C10,2.9 10.9,2 12,2M15.9,8.1C15.5,7.7 14.8,7 13.5,6.9C13.3,6.9 13,7 12.8,7.1C12.5,7.2 12.2,7.3 12,7.3C11.8,7.3 11.5,7.2 11.2,7.1C11,7 10.7,6.9 10.5,6.9C9.2,7 8.5,7.7 8.1,8.1C7.5,8.7 7,9.8 7,12C7,14.2 7.5,15.3 8.1,15.9C8.5,16.3 9.2,17 10.5,17.1C10.7,17.1 11,17 11.2,16.9C11.5,16.8 11.8,16.7 12,16.7C12.2,16.7 12.5,16.8 12.8,16.9C13,17 13.3,17.1 13.5,17.1C14.8,17 15.5,16.3 15.9,15.9C16.5,15.3 17,14.2 17,12C17,9.8 16.5,8.7 15.9,8.1M12,9C12.8,9 13.5,9.7 13.5,10.5C13.5,11.3 12.8,12 12,12C11.2,12 10.5,11.3 10.5,10.5C10.5,9.7 11.2,9 12,9M18,14.5C18,12 16,10 13.5,10C13.5,10 12,14 10.5,14C8,14 6,12 6,9.5C6,7 8,5 10.5,5C10.5,5 12,9 13.5,9C16,9 18,7 18,4.5C18,2 16,0 13.5,0C13.5,0 12,4 10.5,4C8,4 6,2 6,0C6,0 0,3 0,9.5C0,16 6,19 10.5,19C10.5,19 12,15 13.5,15C16,15 18,17 18,19.5C18,22 16,24 13.5,24C13.5,24 12,20 10.5,20C8,20 6,22 6,24C6,24 12,21 12,14.5C12,8 6,5 6,5C6,5 8,8 10.5,8C13,8 18,8 18,14.5Z"/>
  </svg>
  `;

  const faviconDataURL = `data:image/svg+xml;base64,${btoa(faviconSVG)}`;

  const faviconLink = document.querySelector('link[rel="icon"]');
  if (faviconLink) {
    (faviconLink as HTMLLinkElement).href = faviconDataURL;
  }
</script>
